# Day - 13
# Date - 07 June 2019
# Outcomes - 
>*  Understanding K-Nearest Neighbors

## Tasks
* Read dc_airbnb.csv into a Dataframe named dc_listings.
* Use the print function to display the first row in dc_listings.

In [1]:
import pandas as pd

dc_listings = pd.read_csv('dc_airbnb.csv').fillna(0)
print(dc_listings.loc[0])

host_response_rate             92%
host_acceptance_rate           91%
host_listings_count             26
city                    Washington
state                           DC
zipcode                      20003
latitude                     38.89
longitude                 -77.0028
accommodates                     4
bedrooms                         1
bathrooms                        1
beds                             2
price                      $160.00
security_deposit           $100.00
cleaning_fee               $115.00
minimum_nights                   1
maximum_nights                1125
number_of_reviews                0
Name: 0, dtype: object

#

## Tasks
* Calculate the Euclidean distance between our living space, which can accommodate 3 people, and the first living space in the dc_listings Dataframe.
* Assign the result to first_distance and display the value using the print function.

In [2]:
first_distance = abs(dc_listings.iat[0,8] - 3)
print(first_distance)

1

#

## Tasks
* #### Calculate the distance between each value in the accommodates column from dc_listings and the value 3, which is the number of people our listing accommodates:
    * Use the apply method to calculate the absolute value between each value in accommodates and 3 and return a new Series containing the distance values.
    * Assign the distance values to the distance column.
    * Use the Series method value_counts and the print function to display the unique value counts for the distance column.

In [3]:
def distanceCal(num):
    return abs(num-3)

distance = dc_listings['accommodates'].apply(distanceCal)

dc_listings['distance'] = distance
dc_listings.to_csv('dc_listings.csv')

print(distance.value_counts())

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: accommodates, dtype: int64

#

## Tasks
* #### Randomize the order of the rows in dc_listings:
    * Use the np.random.permutation() function to return a NumPy array of shuffled index values.
    * Use the Dataframe method loc[] to return a new Dataframe containing the shuffled order.
    * Assign the new Dataframe back to dc_listings.
* #### After randomization, sort dc_listings by the distance column.
* #### Display the first 10 values in the price column using the print function.

In [4]:
import numpy as np

dataframe = np.random.permutation(dc_listings)
new_df = pd.DataFrame(dataframe)
print(new_df.loc[:])
dc_listings = new_df

dc_listings.to_csv('dc_listings.csv')

sort_distance = sorted(dc_listings[18].values)

print(dc_listings[14].head(10))

        0     1    2                 3   4      5        6        7   8  9   \
0      94%   89%    1        Washington  DC  20024  38.8807 -77.0148   2  1
1      92%   67%    1     Silver Spring  MD  20910  38.9964 -77.0415   4  1
2      90%   50%    1        Washington  DC  20037   38.902 -77.0551   2  1
3        0     0    3        Washington  DC  20002  38.8986  -76.997   4  2
4      90%  100%    3        Washington  DC  20001  38.9149 -77.0172   4  1
5     100%  100%    1        Washington  DC  20011  38.9402 -77.0185   2  1
6     100%  100%    1        Washington  DC  20009  38.9221  -77.047   2  1
7      83%  100%    1        Washington  DC  20010  38.9362 -77.0279   2  1
8     100%     0    1        Washington  DC  20018  38.9285 -76.9571   1  1
9      93%   96%    2        Washington  DC  20001  38.9085 -77.0256   6  1
10    100%  100%    1        Washington  DC  20001  38.9099 -77.0218   2  0
11       0     0    1        Washington  DC  20009  38.9344 -77.0399   4  1
12       0     0    1        Washington  DC  20017  38.9411  -76.993   6  2
13    100%   75%    2        Washington  DC  20002   38.922 -77.0017   4  1
14    100%  100%    1        Washington  DC  20009  38.9189  -77.032   2  1
15     93%   77%    2        Washington  DC  20009  38.9205 -77.0472   2  1
16    100%   95%    5        Washington  DC  20010  38.9323 -77.0388   2  1
17    100%  100%    1        Washington  DC  20009  38.9155 -77.0414   2  1
18    100%  100%    1        Washington  DC  20003  38.8885 -76.9854   9  4
19       0     0    1        Washington  DC  20010  38.9328 -77.0293   1  1
20    100%   80%    2        Washington  DC  20009  38.9138 -77.0421   2  0
21     91%  100%    4        Washington  DC  20009  38.9161 -77.0304   2  1
22     97%   88%    4        Washington  DC  20001  38.9103 -77.0111   1  1
23    100%  100%    2        Washington  DC  20009  38.9206 -77.0397   1  1
24     92%   76%  206        Washington  DC  20037  38.9017 -77.0491   5  2
25     80%  100%    2  Washington, D.C.  DC  20001  38.9186 -77.0151   2  1
26       0  100%    1        Washington  DC  20003  38.8808 -76.9939   4  2
27    100%   91%    1        Washington  DC  20011  38.9388 -77.0191   2  1
28     92%   99%   23        Washington  DC  20009  38.9157 -77.0382   2  1
29     92%   99%   23        Washington  DC  20009  38.9164 -77.0384   2  1
...    ...   ...  ...               ...  ..    ...      ...      ...  .. ..
3693   67%  100%    1        Washington  DC  20011  38.9658 -77.0346   2  1
3694  100%   50%    2        Washington  DC  20006   38.898 -77.0468   2  1
3695   90%   75%    1        Washington  DC  20024  38.8749 -77.0184   2  1
3696  100%   95%    5        Washington  DC  20001  38.9116 -77.0222  10  3
3697  100%  100%    1        Washington  DC  20011  38.9444 -77.0218   2  1
3698   90%   73%    2        Washington  DC  20008  38.9315 -77.0558   2  1
3699   80%  100%    1        Washington  DC  20005  38.9095 -77.0327   6  2
3700  100%  100%    2        Washington  DC  20011  38.9456 -77.0181   3  1
3701  100%  100%    1        Washington  DC  20002  38.8967 -76.9904   4  1
3702   58%   51%  480        Washington  DC  20037  38.9074 -77.0519   2  1
3703  100%  100%    1       Hyattsville  MD  20782  38.9618 -76.9939   1  1
3704  100%  100%    1        Washington  DC  20009  38.9168 -77.0394   4  1
3705   97%  100%    3        Washington  DC  20002  38.9021 -76.9896   3  1
3706   90%   94%    1        Washington  DC  20011  38.9488 -77.0156   4  1
3707  100%  100%    1        Washington  DC  20009  38.9248 -77.0415   2  1
3708  100%    0%    1        Washington  DC  20009  38.9256  -77.041   3  2
3709     0     0    1        Washington  DC  20009  38.9151 -77.0381   1  1
3710   63%  100%    2        Washington  DC  20009  38.9162 -77.0428   2  1
3711   50%   50%    1        Washington  DC  20036  38.9057  -77.046   4  1
3712  100%  100%    1        Washington  DC  20010  38.9314 -77.0352   6  3
3713   90%   60%    1        Washington  DC  20002  38.9022 -76.9884   2  1
3714  100%  100%    2        Washington  DC  20017  38.9365 -76.9956   2  1
3715   58%   51%  480        Washington  DC  20037  38.8998 -77.0518   3  1
3716     0     0    1        Washington  DC  20007  38.9123 -77.0607   6  3
3717   93%   98%    2  Washington, D.C.  DC  20001    38.91  -77.011   3  1
3718  100%    0%    1        Washington  DC  20015  38.9615 -77.0645   8  5
3719  100%   80%    2        Washington  DC  20009  38.9164 -77.0396   2  1
3720  100%     0    1        Washington  DC  20002  38.9113 -76.9867   4  1
3721     0     0    1        Washington  DC  20019  38.9031 -76.9497   2  1
3722   90%   86%    1        Washington  DC  20002  38.9055 -77.0059   3  1

       10 11       12         13       14  15    16  17 18
0       1  1   $80.00          0   $10.00   1  1125  11  1
1       1  1   $50.00    $450.00   $15.00   7  1125   0  1
2       1  1  $109.00          0   $30.00   2  1125   0  1
3     2.5  2  $300.00          0   $35.00   1  1125   0  1
4       1  2   $88.00    $100.00  $100.00   3    10  11  1
5       1  1   $63.00          0   $11.00   1     7  10  1
6       1  1  $159.00    $300.00   $75.00   3   180  12  1
7     1.5  1   $75.00    $100.00   $10.00   1  1125   1  1
8       1  1   $85.00          0        0   1  1125   3  2
9       1  3   $79.00          0        0   1   365  69  3
10      1  1  $100.00          0        0   1  1125   0  1
11      1  2  $143.00          0   $55.00   1    60  32  1
12      1  3  $299.00          0        0   3     4   0  3
13      1  2   $90.00          0   $20.00   1  1125   3  1
14      1  1  $135.00  $1,000.00   $90.00  21    90   1  1
15      1  1  $130.00          0   $40.00   2    15   4  1
16      1  1   $69.00          0   $29.00   1  1125   3  1
17      1  1  $100.00          0        0   1  1125  10  1
18      2  7  $300.00    $200.00  $105.00   2  1125  30  6
19    0.5  1   $45.00          0        0   1  1125   3  2
20      1  1  $113.00  $2,300.00  $100.00   7  1125   2  1
21      1  1   $65.00          0        0   1  1125  31  1
22    1.5  1   $68.00    $200.00   $15.00   1  1125  27  2
23      1  1   $79.00    $200.00   $25.00   3    28   1  2
24      2  3  $324.00          0  $100.00   3  1125   5  2
25    1.5  1   $75.00          0   $25.00   2    45   8  1
26      1  2  $250.00  $1,000.00   $75.00   2  1125   1  1
27      1  1   $60.00    $500.00   $60.00   2  1125  10  1
28      1  1   $95.00          0        0   1  1125  15  1
29      1  1  $120.00          0        0   1  1125   6  1
...   ... ..      ...        ...      ...  ..   ...  .. ..
3693    1  1   $45.00          0   $25.00   1     7   1  1
3694    1  1  $110.00          0        0   2     7   0  1
3695    1  1   $69.00          0        0   3  1125   6  1
3696    3  6  $450.00          0  $100.00   2  1125   6  7
3697    1  1  $115.00          0        0   2    25  31  1
3698    1  1   $90.00    $250.00   $25.00   3    10   7  1
3699    2  3  $372.00          0   $80.00   3  1125  33  3
3700  1.5  1   $75.00          0   $50.00   1  1125   3  0
3701    1  1   $98.00    $300.00   $30.00   2  1125   1  1
3702    1  1  $259.00          0        0   4   730   1  1
3703    1  1   $23.00          0    $5.00   1  1125   1  2
3704    1  2  $180.00    $100.00   $40.00   2  1125   1  1
3705    1  1   $75.00    $500.00   $30.00   1  1125  12  0
3706    1  3   $70.00          0   $30.00   2    35  62  1
3707  1.5  1  $100.00          0        0   1  1125   3  1
3708    2  1  $150.00          0        0   1  1125   0  0
3709    2  1  $100.00          0        0   2  1125  11  2
3710    1  1   $75.00          0        0   2  1125   0  1
3711  1.5  1  $120.00          0        0   4   365   3  1
3712  1.5  4  $126.00  $2,500.00  $120.00   1  1125   3  3
3713    2  1   $70.00          0        0   2  1125  14  1
3714    1  1   $55.00          0        0   2   150  19  1
3715    1  1  $289.00          0        0   4  1125   0  0
3716    3  3  $650.00          0   $80.00   3  1125   0  3
3717    1  2  $110.00          0   $45.00   1  1125  39  0
3718  3.5  4  $150.00          0        0   1  1125   0  5
3719    1  1   $75.00          0        0   1  1125   3  1
3720    1  2   $95.00          0        0   1  1125   0  1
3721    1  1  $175.00          0        0   1    30   1  1
3722    1  1  $160.00          0   $25.00   1  1125   6  0

[3723 rows x 19 columns]
0     $10.00
1     $15.00
2     $30.00
3     $35.00
4    $100.00
5     $11.00
6     $75.00
7     $10.00
8          0
9          0
Name: 14, dtype: object